<server description="Sample Liberty server">

    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>mpMetrics-2.3</feature>
        <feature>mpHealth-2.2</feature>
        <feature>mpConfig-1.4</feature>

        <!-- for config validation -->
        <feature>appSecurity-2.0</feature>
        <feature>restConnector-2.0</feature>
    </featureManager>

    <include location="${shared.config.dir}/environment.xml"/>

    <jndiEntry jndiName="url/tidal-api" value="${tidal.url}" id="TidalJNDI" />

    <!-- for config validation -->
    <quickStartSecurity userName="bob" userPassword="bobpwd" />

    <webApplication location="guide-getting-started.war" contextRoot="/" />

    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <variable name="io_openliberty_guides_system_inMaintenance" value="false"/>
</server>
